html{font-size:62.5%;}
body{margin:0;}
.flex1{
    display:flex;
	  align-items:center;
	  width:72rem;
    height:8.2rem;
    font-size:3.6rem;
    background-color:#5fc0cd;
	  color: white;
    justify-content:flex-start;
}
.flex1-1{
    padding-left:3.1rem;
    padding-right:18rem; 
}
.flex2{
    display:flex;
	  background-image:url(img/背景.png);
	  width:72rem;
	  color:white;
}
.flex2-1{padding:8rem 4.3rem 8rem 3.1rem;}
.flex2-2{padding:13.1rem 27.8rem 11.3rem 0rem;}
.t1{font-size:3.6rem;}
.t2{
    font-size:2.8rem;
    padding-left:3rem;
}
.t3{
    font-size:2.4rem;
    padding-left:1.3rem;
}
.line{border-bottom:0.05rem solid black;
}
.line-t{  
    border-left:solid;
    border-color:#5fc0cd;
    padding-left: 3.1rem;
    margin:3.6rem 0rem 3.6rem 3rem;
    font-size: 3.2rem;
}
table{
    font-size:3.2rem;
    text-align:left;
    margin-left:3rem;
    border-spacing:0; 
    white-space: nowrap;
}
tr{border:solid;}
td{
    text-align:left;
    font-size:3.2rem;
    height:10.2rem;
    border-bottom:0.05rem solid black;
}
.b1{  
    padding-right:2.6rem; 
    padding-left:3.1rem; 
}
.b2{
    padding-left:1rem;
    border-left:0.05rem solid #e1e5e7;
}
.b3{
    margin-left:3.1rem;
    color:#999999;
    padding-right:2.6rem;
    border-right:0.05rem solid #e1e5e7;
}
.b4{color:red;}
.b5{
    font-size: 2.8rem;
    white-space:normal;
    padding-left:2rem;
}
.footer{
    display:flex;
    align-items:center;
    border-color: #5fc0cd;
    border:none;
    font-size:3.6rem;
    margin-top: 10rem;
}
.ft-1{
    color:#5fc0cd;
    background-color:white;
    border-color:#5fc0cd;
    height:9rem;
    width:31rem;
    font-size:3.6rem;
    margin-left:3.8rem; 
    border-radius:1.5rem;
}
.ft-2{
    color:white;
    border-left:2.8rem; 
    background-color:#5fc0cd;
    height:9rem;
    width:31rem;
    font-size:3.6rem;
    margin-left:2.8rem; 
    margin-right:3.8rem; 
    border-radius:1.5rem;
}
